@model PizzaModel
@inject IPizzaRepository pizzaRepository
@using Task4.RazorHelpers
@using Task4.Repositories
@{
    var availableSizes = await PizzaHelper.GetAvailableSizes(pizzaRepository);
    var availableTypes = await PizzaHelper.GetAvailableTypes(pizzaRepository);
    var (activeSize, activeType) = Html.GetActiveSelectors(Model, availableSizes, availableTypes);
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">@Model.Name</h5>
    </div>
    <div class="modal-body">
        <div class="pizza-card-modal" data-id=@Model.Id>
            <div class="pizza-img-container">
                <img class="pizza-card-img" src="@Model.Image" alt="@Model.Name" />
            </div>
            <div class="pizza-body-modal">
                <div class="pizza-card-header">
                    @if (Model.IsHit)
                    {
                        <span class="pizza-card-modal-hit">HIT</span>
                    }
                    <span class="pizza-card-name">@Model.Name</span>
                </div>
                <div class="pizza-card-description">
                    @Model.Description
                </div>

                <div class="pizza-card-selectors">
                    <div class="size-selector">
                        @Html.RenderSelectors(availableSizes, Model.Sizes, activeSize, true)
                    </div>
                    <div class="type-selector">
                        @if (Model.Types?.Any() == true)
                        {
                            @Html.RenderSelectors(availableTypes, Model.Types, activeType, false)
                        }
                    </div>
                </div>

                <div class="pizza-card-info">
                    <span class="pizza-card-price">@Model.Price Р</span>
                    <span class="pizza-card-weight">@Model.Weight гр</span>
                    <span class="pizza-card-half">
                        @if (Model.ShowHalf)
                        {
                            var halfClass = Model.CanHalf ? "active" : "disable";
                            <span class="pizza-card-half-selector @halfClass">1/2</span>
                        }
                    </span>
                </div>
                <button class="in-cart-button">В корзину</button>
            </div>
        </div>
    </div>
</div>